<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hxb.demo"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".MyApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity android:name="com.hxb.demo.ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.IPCDemoActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".ui.activity.BookManagerDemoActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".ui.activity.MultiBindServiceDemoActivity" />
        <activity android:name=".ui.activity.MultiProcessAccessProviderActivity" />

        <service android:name=".service.BookManagerService"
            android:process=":book"
            />
        <service android:name=".service.CustomService"
            android:process=":custom"
            />


        <service android:name=".service.accessprovider.AccessProviderService01"
            android:process=":ap01"
            />
        <service android:name=".service.accessprovider.AccessProviderService02"
            android:process=":ap02"
            />
        <service android:name=".service.accessprovider.AccessProviderService03"
            android:process=":ap03"
            />

        <provider
            android:authorities="com.hxb.userInfo.provider"
            android:name=".provider.UserInfoProvider"
            android:process=":provider"
            android:multiprocess="false"
            android:exported="false" />

    </application>

</manifest>